<div id="sub">
<div id="submenu">
	<nav>
		<a href="/nosotros">Quienes Somos</a> |
		<a href="/historia">Nuestra Historia</a> |
		<a href="/que-hacemos">Que Hacemos</a>  |
		<a href="/ubicacion">Ubicación</a>  |
		<a href="/asociacion-myikani-mavoko" class="click">Asoc. Nyikani Mavoko</a>  |
	  </nav>
</div>
</div>
<div id="top">
  </div>
		<section id="nosotros">
			<div class="pl-20 animate__animated animate__fadeInUp animate__delay-0s">
			  <span class="destacado blue-light">Asociación Nyikani Mavoko</span>
			  <br><b>
				La Asociación Nyikani Mavoko es una organización sin fines de lucro con personería jurídica y autonomía administrativa, financiera y patrimonial, aprobada por normativa de Mozambique el 15 de julio de 2016, bajo el Número Único de Identificación Tributaria: 700158901.
				Tiene su sede en la Misión San Benito de Mangundze, distrito de Manjakaze, Provincia de Gaza.
				Sus Objetivos son:
			</b><br /><br /><p>
				<p>Ayudar a los estudiantes de las zonas más desfavorecidas, en particular a través de ayuda monetaria para la compra de pases de transporte, provisión de vales de comidas, asignación de manuales y libros técnicos, inversiones para la recuperación de edificios, adquisición de mesas y sillas, entre otras actividades;
					Apoyar a los trabajadores más desfavorecidos de la población local;
					Apoyar a otras organizaciones benéficas en el área geográfica de la Asociación u otras áreas que las autoridades de la Asociación puedan aprobar, como áreas para expansión futura;
					Ayudar a los niños, niñas y jóvenes en edad escolar de las áreas de Manjacaze, brindando alimentos y soporte para su atención médica.
					Promover proyectos sostenibles en el sector agroindustrial en beneficio de las mismas comunidades;
					Apoyar la continuación de la educación técnica y superior básica, de los niños y niñas, incluida la promoción de la cultura y el deporte.
					Autoridades:
				<br />
					<p>Juan Gabriel Arias, Presidente<br>
						Bruno Miguel Ferreira Morgado, Vicepresidente<br>
						Hans Abraham Thompson Behrens, Secretario<br>
						Stefano Paris, 1° Vocal
					<br />
					  
				</p>
				<!-- pdf -->
				<section class="donwload">
					<iframe src="https://cdn.mangundze.org/documentos/Estatutos.pdf" width="80%" height="900px" frameborder="0" loading="lazy" allowfullscreen></iframe>
					<br />
					<iframe src="https://cdn.mangundze.org/documentos/Registro%20CREL.pdf" width="80%" height="900px" frameborder="0" loading="lazy" allowfullscreen></iframe>
					<br />
					<iframe src="https://cdn.mangundze.org/documentos/Boletim%20da%20Republica.pdf" width="80%" height="900px" frameborder="0" loading="lazy" allowfullscreen></iframe>
					<br />
					<iframe src="https://cdn.mangundze.org/documentos/NUIT.pdf" width="80%" height="900px" frameborder="0" loading="lazy" allowfullscreen></iframe>
					<!-- <iframe src="/public/pdf/Estatutos.pdf" width="90%" height="900px" frameborder="0" loading="lazy" allowfullscreen></iframe>
					<iframe src="/public/pdf/Registro-CREL.pdf" width="90%" height="900px" frameborder="0" loading="lazy" allowfullscreen></iframe>
					<iframe src="/public/pdf/Boletim-da-Republica.pdf" width="90%" height="900px" frameborder="0" loading="lazy" allowfullscreen></iframe>
					<iframe src="/public/pdf/NUIT.pdf" width="90%" height="900px" frameborder="0" loading="lazy" allowfullscreen></iframe> -->
				</section>
		 
			

			</div>
		  
		  </section>