<div id="top">
	<div id="banner"><div class="img-donar">.</div><div id="banner-cc"><span class="b">Gracias!</span>  <br>
		Gracias por colaborar. <br> Apreciamos las donaciones de cualquier valor, <br>y todas las donaciones son utilizadas para beneficio<br> de la comunidad de Mangundze.</div>
	</div>
  </div>
		<section id="nosotros">
				<div id="donar" class="proyecto-top animate__animated animate__fadeInUp animate__delay-0s">
					<div class="left2 pt-20"><iframe class="video" src="https://www.youtube.com/embed/gxAnfbEurng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
					<div class="right pt-20"> 
						Gracias por colaborar. Apreciamos las donaciones de cualquier valor, y todas las donaciones son utilizadas para beneficio de la comunidad de Mangundze
						Si quiere colaborar con el trabajo de la Misión Mangundze, puede utilizar los siguientes canales: <br><br>
						<span class="blue-light">Desde Mozambique</span><br>
			Conta no banco BCI<br>
			<br>
			<span class="blue-light">Asociaçao Nyikani Mavoko</span><br>
			NIB: 0008 0000 48461508101 95<br><br>
			
			<span class="blue-light">Desde Argentina</span><br>
			Los argentinos pueden colaborar con la Misión mediante transferencia bancaria, via CBU:<br>
			<br>
			<span class="blue-light">Banco de Galicia, </span><br>Juan Gabriel Arias, <br>CUIL 20-20205589-4, <br>Caja de Ahorro 4011775-7 128-1, <br>CBU 00701286-30004011775712.<br><br>
			<span class="blue-light">Resto del mundo</span><br>
			En breve estaremos sumando nuevas opciones para colaborar.<br>
					</div>
				</div>  
		  </section>