<div id="sub">
<div id="submenu">
	<nav>
		<a href="/nosotros">Quienes Somos</a> |
		<a href="/historia">Nuestra Historia</a> |
		<a href="/que-hacemos" class="click">Que Hacemos</a>  |
		<a href="/ubicacion">Ubicación</a>  |
		<a href="/asociacion-myikani-mavoko">Asoc. Nyikani Mavoko</a>  |
	  </nav>
</div>
</div>
<div id="top">
  </div>
		<section id="nosotros">
			<div class="pl-20 animate__animated animate__fadeInUp animate__delay-0s">
				<br /><br />
			  <span class="blue-light">Qué hacemos</span>
			  <br><br><b>
				Trabajamos para contribuir al desarrollo integral de las comunidades de la Misión San Benito de Mangundze, </b>a través de distintos proyectos y propuestas, abarcando temáticas transversales como salud, educación, nutrición, deporte, agua y saneamiento, género, resiliencia y gestión del riesgo de desastres.
				<br /><br />
				Implementamos nuestros proyectos a través de alianzas estratégicas y con la activa participación de la comunidad, ya que buscamos que nuestras acciones sean sustentables y con impacto.
				<br /><br />
				Según el Informe sobre Desarrollo Humano 2018 del Programa de las Naciones Unidas para el Desarrollo (PNUD) en Mozambique viven 29.7 millones de personas, de las cuales 62.9% vive por debajo de la línea de pobreza de ingresos, viviendo con menos USD$ 1.90 al día.
				<br /><br />
				Asimismo, según el Programa Mundial de Alimentos, un tercio de la población se encuentra en situación de inseguridad alimentaria crónica y medio millón de niños de 6-23 meses en estado de desnutrición.
				<br /><br />
				El 80% de la población depende de la agricultura a pequeña escala con una rentabilidad muy baja. La agricultura es la principal actividad económica en Mozambique y unos 3.200.000 pequeños agricultores generan el 95% de la producción de este sector.ß
				<br /><br />
				<b>Nuestros proyectos tienen como finalidad abordar de manera integral los aspectos esenciales necesarios para desarrollar una vida digna.</b>
		 <br /><br /><br /><br />
			  </p>

			</div>
		  
		  </section>