<div id="sub">
<div id="submenu">
	<nav>
		<a href="/nosotros">Quienes Somos</a> |
		<a href="/historia" class="click">Nuestra Historia</a> |
		<a href="/que-hacemos">Que Hacemos</a>  |
		<a href="/ubicacion">Ubicación</a>  |
		<a href="/asociacion-myikani-mavoko">Asoc. Nyikani Mavoko</a>  |
	  </nav>
</div>
</div>
<div id="top">
  </div>
		<section id="nosotros">
			<div class="pl-20 animate__animated animate__fadeInUp animate__delay-0s">
				<br /><br />
			  <span class="blue-light">Historia de la Misión Mangundze</span>
			  <br><br><b>
				Los trabajos de fundación de la Misión, que originariamente se llamaba ´Missão de São Benedito dos Muchopes-Mangunze`, se iniciaron en julio de 1911. </b><br>Su fundador fue el padre Manuel de Jesús Benedicto, sacerdote diocesano, que en 1934 les confió el trabajo a los Misioneros Franciscanos.
				<br /><br>
<img src="/public/img/nosotros/postal-parroquia.jpg" class="img-historia" alt="">

				<br /><br>
				En 1975, año de la independencia de Mozambique, la misión pasó a llamarse Misión de San Benito de Mangundze. En ese entonces en el área de la misión vivían 62.500 personas, de las cuales 26.900 eran católicas.
				<br /><br />
Durante las nacionalizaciones y la guerra en Mozambique la iglesia fue cerrada y los misioneros fueron obligados a salir. Con el fin de la guerra civil, en 1997 se inició el trabajo de recuperación de la Iglesia cuya estructura se encontraba muy dañada.
<br /><br />
Actualmente, la estructura se ha reparado y cientos de personas se reúnen para celebrar la Misa y donde encuentran un espacio para enriquecer su vida cristiana.
		 <br /><br />
			  </p>

			</div>
		  
		  </section>