<div id="slide-home" class="animate__animated animate__fadeIn">
	<div id="slide" class="animate__animated animate__fadeInLeft">
	<div class="tit-slide">Conocé la Misión Mangundze</div>
	<div class="tx-slide ">Juntos por la misma Causa</div>
</div>
</div>
<section id="home" class="animate__animated animate__fadeInUp animate__delay-0s">
	<p class="destacado">Trabajamos para contribuir, promover y fomentar la mejora de la situación sanitaria y general de
		personas y comunidades vulnerables, mediante la promoción
		de la higiene y la salud. Así como la facilitación del acceso a la atención médica y el apoyo a la educación e integración socio-laboral.</p>	

		<div  id="proy">
			<div class="cards">
			  <article class="card card--10">
				<div class="card__img"></div>
				<nav><a href="/proyecto-mangunze-indico" class="card_link card__img--hover"></a></nav>
				<div class="card__info">
				  <h2 class="card__category">Girafa Solar, un proyecto que llega a la localidad de Mangunze</h2>
				  <h3 class="card__title">Más que un espacio de (re)carga de móviles, como nos cuentan el Padre y Clara, es también un espacio de encuentro, de encuentro comunitario y de debate</h3>
				</div>
			  </article>  
		
			  <article class="card card--9">
				<div class="card__img"></div>
				<nav><a href="/proyecto-juan-gabriel-arias-twitter" class="card_link card__img--hover"></a></nav>
				<div class="card__info">
				  <h2 class="card__category"> Juan Gabriel Arias: el fundador de Racing de Mozambique jugando su 'Mundial'</h2>
				  <h3 class="card__title">@P_JuanGabriel es cura misionero y 'enfermo de la cabeza' de @RacingClub . Instalado en Mangundze, una pequeña localidad ubicada a 240km de la capital del país, Maputo, fundó el Racing de Mozambique</h3>
				</div>
			  </article>  
		  
			  <article class="card card--8">
				<div class="card__img"></div>
				<nav><a href="/proyecto-jg-arias-racing" class="card_link card__img--hover"></a></nav>
				<div class="card__info">
				  <h2 class="card__category"> Juan Gabriel Arias, el hombre detráa del Racing de Mozambique</h2>
				  <h3 class="card__title">Repasamos la historia de un sueño que se convirtió en realidad y es mucho más que un club.</h3>
				</div>
			  </article>  
		
			<article class="card card--1">
			  <div class="card__img"></div>
			  <nav><a href="/proyecto-larcio-langane" class="card_link card__img--hover"></a></nav>
			  <div class="card__info">
				<h2 class="card__category"> Estudió en Argentina, ganó el premio al mejor emprendedor de su país</h2>
				<h3 class="card__title"><nav><a href="/proyecto-larcio-langane">Por una gestión del cura Juan Gabriel Arias.
				En la nación africana creó una empresa que recicla botellas de vidrio y las convierte en vasos y obtuvo un galardón de U$S 7.000.</a></nav></h3>
			  </div>
			</article>
			</div>
		</div>
</section>

<div id="banner"><div class="img-donar">.</div><div id="banner-cc"><span class="b">Dona!</span>  <br>
	Gracias por colaborar. <br> Apreciamos las donaciones de cualquier valor, y todas las donaciones son utilizadas para beneficio de la comunidad de Mangundze.</div>
</div>