<div id="top">
	<div class="lang">
		<nav>
		<a ref="#" onclick="history.back()" > &laquo; volver</a>
	  </nav></div>
	
</div>
<section id="proyecto1" class="animate__animated animate__fadeIn">
	<h1 class="blue-light">El coronavirus llegó a Mozambique</h1>
	<span class="destacadoNota">Para prevenir el contagio, y disminuir la velocidad de propagación de la enfermedad, la misión ha capacitado a grupos de voluntarios para llevar al mato las medidas de prevención básicas.
		<br><br>
		A continuación les dejamos algunas de las fotos.</span>
	<br><br>
					<!-- carrousel 1-->
					<section>
						<div class="container">
							<div class="carousel">
								<input type="radio" name="slides" checked="checked" id="slide-1">
								<input type="radio" name="slides" id="slide-2">
								<input type="radio" name="slides" id="slide-3">
								<input type="radio" name="slides" id="slide-4">
								<input type="radio" name="slides" id="slide-5">
								<input type="radio" name="slides" id="slide-6">
								<input type="radio" name="slides" id="slide-7">
								<ul class="carousel__slides">
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/mision-covid/00.jpg" alt="">
											</div>
										
										</figure>
									</li>
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/mision-covid/01.jpg" alt="">
											</div>
											
										</figure>
									</li>
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/mision-covid/02.jpg" alt="">
											</div>
										</figure>
									</li>
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/mision-covid/03.jpg" alt="">
											</div>
										</figure>
									</li>
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/mision-covid/04.jpg" alt="">
											</div>
										</figure>
									</li>
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/mision-covid/05.jpg" alt="">
											</div>
										</figure>
									</li>
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/mision-covid/06.jpg" alt="">
											</div>
										</figure>
									</li>
								</ul>    
								<ul class="carousel__thumbnails">
									<li>
										<label for="slide-1"><img src="/public/img/news/mision-covid/00.jpg" alt=""></label>
									</li>
									<li>
										<label for="slide-2"><img src="/public/img/news/mision-covid/01.jpg" alt=""></label>
									</li>
									<li>
										<label for="slide-3"><img src="/public/img/news/mision-covid/02.jpg" alt=""></label>
									</li>
									<li>
										<label for="slide-4"><img src="/public/img/news/mision-covid/03.jpg" alt=""></label>
									</li>
									<li>
										<label for="slide-5"><img src="/public/img/news/mision-covid/04.jpg" alt=""></label>
									</li>
									<li>
										<label for="slide-6"><img src="/public/img/news/mision-covid/05.jpg" alt=""></label>
									</li>
									<li>
										<label for="slide-7"><img src="/public/img/news/mision-covid/06.jpg" alt=""></label>
									</li>
								</ul>
							</div>
						</div>
					</section>
			  <!-- fin carrousel -->
			  <br><br>

			  					<!-- carrousel 2-->
								  <section>
									<div class="container">
										<div class="carousel">
											<input type="radio" name="slides" checked="checked" id="slide-11">
											<input type="radio" name="slides" id="slide-12">
											<input type="radio" name="slides" id="slide-13">
											<input type="radio" name="slides" id="slide-14">
											<input type="radio" name="slides" id="slide-15">
											<input type="radio" name="slides" id="slide-16">
											<input type="radio" name="slides" id="slide-17">
											<ul class="carousel__slides">
												<li class="carousel__slide">
													<figure>
														<div>
															<img src="/public/img/news/mision-covid/07.jpg" alt="">
														</div>
														
													</figure>
												</li>
												<li class="carousel__slide">
													<figure>
														<div>
															<img src="/public/img/news/mision-covid/08.jpg" alt="">
														</div>
													</figure>
												</li>
												<li class="carousel__slide">
													<figure>
														<div>
															<img src="/public/img/news/mision-covid/09.jpg" alt="">
														</div>
													</figure>
												</li>
												<li class="carousel__slide">
													<figure>
														<div>
															<img src="/public/img/news/mision-covid/10.jpg" alt="">
														</div>
													</figure>
												</li>
												<li class="carousel__slide">
													<figure>
														<div>
															<img src="/public/img/news/mision-covid/11.jpg" alt="">
														</div>
													</figure>
												</li>
												<li class="carousel__slide">
													<figure>
														<div>
															<img src="/public/img/news/mision-covid/12.jpg" alt="">
														</div>
													</figure>
												</li>
												<li class="carousel__slide">
													<figure>
														<div>
															<img src="/public/img/news/mision-covid/13.jpg" alt="">
														</div>
													
													</figure>
												</li>
											</ul>    
											<ul class="carousel__thumbnails">
												<li>
													<label for="slide-11"><img src="/public/img/news/mision-covid/07.jpg" alt=""></label>
												</li>
												<li>
													<label for="slide-12"><img src="/public/img/news/mision-covid/08.jpg" alt=""></label>
												</li>
												<li>
													<label for="slide-13"><img src="/public/img/news/mision-covid/09.jpg" alt=""></label>
												</li>
												<li>
													<label for="slide-14"><img src="/public/img/news/mision-covid/10.jpg" alt=""></label>
												</li>
												<li>
													<label for="slide-15"><img src="/public/img/news/mision-covid/11.jpg" alt=""></label>
												</li>
												<li>
													<label for="slide-16"><img src="/public/img/news/mision-covid/12.jpg" alt=""></label>
												</li>
												<li>
													<label for="slide-17"><img src="/public/img/news/mision-covid/13.jpg" alt=""></label>
												</li>
											</ul>
										</div>
									</div>
								</section>
						  <!-- fin carrousel -->
						  <br><br>

</section>

