<div id="top">
</div>

  <section  id="proy">
    <div class="cards">
      <article class="card card--10">
        <div class="card__img"></div>
        <nav><a href="/proyecto-mangunze-indico" class="card_link card__img--hover"></a></nav>
        <div class="card__info">
          <h2 class="card__category">Girafa Solar, un proyecto que llega a la localidad de Mangunze</h2>
          <h3 class="card__title">Más que un espacio de (re)carga de móviles, como nos cuentan el Padre y Clara, es también un espacio de encuentro, de encuentro comunitario y de debate</h3>
        </div>
      </article>  

      <article class="card card--9">
        <div class="card__img"></div>
        <nav><a href="/proyecto-juan-gabriel-arias-twitter" class="card_link card__img--hover"></a></nav>
        <div class="card__info">
          <h2 class="card__category"> Juan Gabriel Arias: el fundador de Racing de Mozambique jugando su 'Mundial'</h2>
          <h3 class="card__title">@P_JuanGabriel es cura misionero y 'enfermo de la cabeza' de @RacingClub . Instalado en Mangundze, una pequeña localidad ubicada a 240km de la capital del país, Maputo, fundó el Racing de Mozambique</h3>
        </div>
      </article>  
  
      <article class="card card--8">
        <div class="card__img"></div>
        <nav><a href="/proyecto-jg-arias-racing" class="card_link card__img--hover"></a></nav>
        <div class="card__info">
          <h2 class="card__category"> Juan Gabriel Arias, el hombre detráa del Racing de Mozambique</h2>
          <h3 class="card__title">Repasamos la historia de un sueño que se convirtió en realidad y es mucho más que un club.</h3>
        </div>
      </article>  

    <article class="card card--1">
      <div class="card__img"></div>
      <nav><a href="/proyecto-larcio-langane" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category"> Estudió en Argentina, ganó el premio al mejor emprendedor de su país</h2>
        <h3 class="card__title"><nav><a href="/proyecto-larcio-langane">Por una gestión del cura Juan Gabriel Arias.
        En la nación africana creó una empresa que recicla botellas de vidrio y las convierte en vasos y obtuvo un galardón de U$S 7.000.</a></nav></h3>
      </div>
    </article>
      
    <article class="card card--2">
      <div class="card__img"></div>
      <nav><a href="/proyecto-juan-gabriel-arias" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category"> Juan Gabriel Arias, Sacerdote de la Misión San Benito de Mangundze</h2>
        <h3 class="card__title">“Es mi lugar en el mundo”, asegura
          También conocido como “el cura hincha de Racing”, llegó al país africano en el año 2000 como parte de una misión católica.</h3>
      </div>
    </article>  

    <article class="card card--3">
      <div class="card__img"></div>
      <nav><a href="/proyecto-ciudadania" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category"> Scholas Ocurrentes, proyecto ciudadanía</h2>
        <h3 class="card__title">Un llamado a crear la cultura del encuentro

          El proyecto ciudadanía busca que los jóvenes se pregunten que quieren hacer con su comunidad, cuales son los valores que quieren defender, y que prioridades van a dar a la salud, la educación.</h3>
      </div>
    </article>  

    <article class="card card--4">
      <div class="card__img"></div>
      <nav><a href="/proyecto-programa-futval" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category"> Programa FutVal en Mangundze</h2>
        <h3 class="card__title">Con el objetivo de promover y armonizar el “pacto educativo” a través de la enseñanza del fútbol, se realizó en la sede de la Misión Mangundze el programa FutVal de Scholas Occurrentes, la fundación del Papa Francisco.</h3>
  
      </div>
    </article>  

    <article class="card card--5">
      <div class="card__img"></div>
      <nav><a href="/proyecto-taller-de-costura" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category"> Proyecto “Taller de Costura”</h2>
        <h3 class="card__title">Este proyecto ayuda a las personas a desarrollar un oficio y generar ingresos extras, a través de un trabajo que disfrutan.</h3>
      </div>
    </article>  

    <article class="card card--6">
      <div class="card__img"></div>
      <nav><a href="/proyecto-construyendo-aulas" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category"> Construcción de Aulas</h2>
        <h3 class="card__title">Todos los años, generalmente durante enero y febrero, los voluntarios de la ONG argentina “Somos del Mundo” viajan a Mozambique para realizar trabajos de construcción de aulas en la Provincia de Gaza, Mozambique.</h3>
      </div>
    </article> 

    <article class="card card--7">
      <div class="card__img"></div>
      <nav><a href="/proyecto-hippo-rollers" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category"> Proyecto “Hippo Rollers”</h2>
        <h3 class="card__title">Con los Hippo Rollers, la población puede recolectar agua potable y transportarla fácilmente a sus hogares.</h3>
      </div>
    </article> 

    <article class="card card--14">
      <div class="card__img"></div>
      <nav><a href="/proyecto-campania-covid" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category"> El coronavirus llegó a Mozambique</h2>
        <h3 class="card__title">Para prevenir el contagio, y disminuir la velocidad de propagación de la enfermedad, la misión ha capacitado a grupos de voluntarios para llevar al mato las medidas de prevención básicas.</h3>
  
      </div>
    </article>  

    <article class="card card--13">
      <div class="card__img"></div>
      <nav><a href="/proyecto-covid" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category">La angustia por el primer caso de coronavirus</h2>
        <h3 class="card__title">El sistema no está preparado: con los brotes de cólera, la gente terminaba siendo atendida en el piso del patio del hospital, explica</h3>
      </div>
    </article>  

    <article class="card card--12">
      <div class="card__img"></div>
      <nav><a href="/proyecto-desayunos" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category"> Proyecto “Desayunos”</h2>
        <h3 class="card__title">Gracias a la Fundación Leo Messi, alrededor de 15.000 niños y niñas de Mangundze que asisten a 30 escuelas primarias, reciben un desayuno y una merienda.</h3>
      </div>
    </article> 

    <article class="card card--11">
      <div class="card__img"></div>
      <nav><a href="/proyecto-historia-de-laura" class="card_link card__img--hover"></a></nav>
      <div class="card__info">
        <h2 class="card__category">La historia de Laura</h2>
        <h3 class="card__title">Laura es una chica de 7 años, que por su discapacidad depende completamente de su madre para ir y volver de la escuela.</h3>
      </div>
    </article> 
   
      
  </div>
</section>
