<div id="top">
	<div class="lang">
		<nav>
		<a ref="#" onclick="history.back()" > &laquo; volver</a>
	  </nav></div>
	
</div>
<section id="proyecto1" class="animate__animated animate__fadeIn">
	<h1 class="blue-light">Proyecto “Taller de Costura”</h1>
	<span class="destacadoNota">Dentro de la Misión Mangunze funciona desde 2016 un taller de costura abierto para toda la comunidad.
		<br>
		Este proyecto ayuda a las personas a desarrollar un oficio y generar ingresos extras, a través de un trabajo que disfrutan.
		<br>
		Del taller participan hombres y mujeres de diferentes edades, quienes con la ayuda de un profesor han aprendido sobre costura y adquirido nuevas habilidades.
		<br>
		Desde la Misión se compra los materiales que luego son utilizados para la producción de ropa, uniformes, bolsas, y otros accesorios.</span>
	<br><br>
	<span class="blue-light"> Este proyecto contribuye al logro del Objetivo de Desarrollo Sostenible (ODS) N° 8: “Promover el crecimiento económico sostenido, inclusivo y sostenible, el empleo pleno y productivo y el trabajo decente para todos”.</span>
	<div>
		<iframe class="video" src="https://www.youtube.com/embed/y681OQ48V0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	
		<br><br>
</section>

