<div id="top">
	<div class="lang">
		<nav>
			<a ref="#" onclick="history.back()" > &laquo; volver</a>
	  </nav></div>
	
</div>
<section id="proyecto1" class="animate__animated animate__fadeIn">
	<h1 class="blue-light">Juan Gabriel Arias: el fundador de Racing de Mozambique jugando su 'Mundial'</h1>
	<div class="proyecto-top">
		<div class="lef"><img src="../public/img/news/juan-gabriel-arias-tw.jpg" alt="Juan Gabriel Arias" class="img-proy-g"> </div>
		<div class="right">
			<br><br><br>
			@P_JuanGabriel<br>
			es cura misionero y 'enfermo de la cabeza' de 
		   @RacingClub
		   . Instalado en Mangundze, una pequeña localidad ubicada a 240km de la capital del país, Maputo, fundó el Racing de Mozambique</div>
	</div>
	<br><br>
	
	<span class="blue-light">Notas</span>
	<div><img src="../public/img/news/juan-gabriel-arias-tw2.jpg" alt="Juan Gabriel Arias" class="img-proy-g"> </div>
		<div><img src="../public/img/news/juan-gabriel-arias-tw3.jpg" alt="Juan Gabriel Arias" class="img-proy-g"> </div>
		<br><br>
	<div class="link-destacado">
 <span class="link">Ver publicaciones completas: TWITTER, Marzo 2022</span><br><nav><a href="https://twitter.com/racingmoza/status/1502128727416791044?t=oI8hE6PaOqdZ7kpqmrmC7w&s=08" onclick=window.open(href); class="link">https://twitter.com/racingmoza</a></nav>
</div>	
 <br><br>
</section>

