<div id="top">
	<div class="lang">
		<nav>
			<a ref="#" onclick="history.back()" > &laquo; volver</a>
	  </nav></div>
	
</div>
<section id="proyecto1" class="animate__animated animate__fadeIn">
	<h1 class="blue-light">La historia de Laura</h1>
	<div>
		<iframe class="video" src="https://www.youtube.com/embed/JAiFULT1eOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<span class="destacadoNota">Laura es una chica de 7 años, que por su discapacidad depende completamente de su madre para ir y volver de la escuela.
		<br>
		Ayer le entregamos la silla de ruedas que donó mi amiga Silvina Perez, que vive en Italia.
		<br>
		La silla de ruedas me la trajo el Papa Francisco cuando vino en visita pastoral a Mozambique.
		<br>
		Muchas veces se puede cambiar la vida de una persona sin dinero. Solo ocupándose, haciéndose cargo.<br>
		Hay muchas Lauras que necesitan ayuda.
		<br>
		El Papa Francisco agradeció personalmente la donación de Silvina.</span>
	<br><br>
	<iframe src="https://cdn.mangundze.org/cartas/carta-Francisco-a-Silvina.pdf" width="80%" height="450px" frameborder="0" loading="lazy" allowfullscreen></iframe>
		<br><br>
		<div class="link-destacado">
			<span class="link">Mas Información</span> <nav><a href="https://alfayomega.es/una-silla-de-ruedas-para-laura/" onclick=window.open(href); class="link">https://alfayomega.es/una-silla-de-ruedas-para-laura/</a></nav>
		</div>
		<br><br>
</section>

