<div id="top">
	<div class="lang">
		<nav>
		<a ref="#" onclick="history.back()" > &laquo; volver</a>
	  </nav></div>
	
</div>
<section id="proyecto1" class="animate__animated animate__fadeIn">
	<h1 class="blue-light">Proyecto Construcción de Aulas “Somos del Mundo”</h1>
	<span class="destacadoNota">Todos los años, generalmente durante enero y febrero, los voluntarios de la ONG argentina “Somos del Mundo” viajan a Mozambique para realizar trabajos de construcción de aulas en la Provincia de Gaza, Mozambique.
		<br><br>
		Para ello, se preparan durante el año realizando Talleres de Desarrollo de Habilidades desde agosto hasta diciembre. También se encargan de realizar un proceso de recaudación para financiar la construcción de las aulas en las comunidades rurales y cubrir sus gastos de desplazamiento.
		<br><br>
		Desde la Misión Mangundze se realiza un acompañamiento de esta iniciativa que se realiza anualmente desde 2012. Ambas organizaciones lograron realizar una articulación donde, entre otros aportes, se les brinda a los voluntarios el alojamiento en las instalaciones de la Misión que lidera el Padre Juan Gabriel Arias y también se los asiste en la selección de las localidades donde se construyen las aulas.
		<br><br>
		El objetivo de este proyecto es potenciar agentes de cambio mediante el desarrollo de habilidades y por otro, generar soluciones concretas en comunidades rurales de Mozambique.
		<br>
		Las vacaciones de los voluntarios se conectan con una labor social, con construir aulas, alojarse en casas de familias dentro de la comunidad y generar vínculos y aprendizajes comunes.
	<div>
		<iframe class="video" src="https://www.youtube.com/embed/79LcOcFuAXw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	
		<br><br>
</section>

