<div id="top">
	<div class="lang">
		<nav>
		<a ref="#" onclick="history.back()" > &laquo; volver</a>
	  </nav></div>
	
</div>
<section id="proyecto1" class="animate__animated animate__fadeIn">
	<h1 class="blue-light">Programa FutVal en Mangundze</h1>
	<span class="destacadoNota">Con el objetivo de promover y armonizar el “pacto educativo” a través de la enseñanza del fútbol, se realizó en la sede de la Misión Mangundze el programa FutVal de Scholas Occurrentes, la fundación del Papa Francisco.
		<br><br>
		FutVal es un programa que se basa en “valores como la responsabilidad, la honestidad, el esfuerzo y el trabajo en equipo, y que busca promover y armonizar el pacto educativo a través de la enseñanza del fútbol entre jóvenes, con el objetivo de recuperar la esencia del deporte y del fútbol al enseñar a relacionarse y a trabajar en equipo, a priorizar el bien común sobre el propio”. Los jóvenes a los que está dirigido el programa crecen en contextos de gran vulnerabilidad y pobreza.
		<br><br>
		Las primeras jornadas FutVal han reunido a más de 200 jóvenes de la Provincia de Gaza.</span>
	<br><br>
	<div>
		<iframe class="video" src="https://www.youtube.com/embed/XzsuIJiO2Pc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	
	<div class="link-destacado">
		<span class="link">Ver mas información</span> <nav><a href="https://www.scholasoccurrentes.org/en/campaigns/futval/" onclick=window.open(href); class="link"> https://www.scholasoccurrentes.org/en/campaigns/futval/</a></nav>
	</div>
		<br><br>
</section>

