<div id="top">
	<div class="lang">
		<nav>
		<a ref="#" onclick="history.back()" > &laquo; volver</a>
	  </nav></div>
	
</div>
<section id="proyecto1" class="animate__animated animate__fadeIn">
	<h1 class="blue-light">Proyecto “Hippo Rollers”</h1>
	<span class="destacadoNota">Gracias a la Fundación Carlos Morgado, que coordinó esta iniciativa, se logró comprar y transportar 50 Hippo Water Rollers <a href="http://www.hipporoller.org" onclick=window.open(href); class="link">(www.hipporoller.org)</a> desde Sudáfrica para ser entregadas al Padre Juan Gabriel Arias, quien fue el responsable de su distribución a la población.
		<br><br>
	Un Hippo Water Roller es un tambor de plástico de alta capacidad (90 litros) que se puede trasladar rodando cuando se llena, en lugar de los envases tradicionales que requieren transporte, a menudo en la cabeza. El plan fue que las familias compartieran los Hippo Water Roller, generando un impacto en la vida de 250 familias, o aproximadamente 1,250 personas.
	<br><br>
	Con los Hippo Rollers, la población puede recolectar agua potable y transportarla fácilmente a sus hogares. El uso de esta solución tiene los siguientes beneficios inmediatos:
	<br><br>
* Hace que la recolección de agua potable sea más rápida<br>
* Reduce la tensión física de transportar el agua.<br>
* Alivia a las mujeres y los niños a tener más tiempo para la educación, los medios de vida y las actividades sociales.<br>
* El uso de Hippo Rollers no reemplaza la necesidad de nuevas fuentes de agua, pero con una vida útil de 5-7 años, aliviará este estrés en la comunidad mientras se hacen esfuerzos para abrir nuevos puntos de acceso al agua.<br>
	</span>
	<br><br>
					<!-- carrousel -->
					<section>
						<div class="container">
							<div class="carousel">
								<input type="radio" name="slides" checked="checked" id="slide-1">
								<input type="radio" name="slides" id="slide-2">
								<input type="radio" name="slides" id="slide-3">
								<ul class="carousel__slides">
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/hippo-rollers-01.jpg" alt="">
											</div>
										
										</figure>
									</li>
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/hippo-rollers-02.jpg" alt="">
											</div>
											
										</figure>
									</li>
									<li class="carousel__slide">
										<figure>
											<div>
												<img src="/public/img/news/hippo-rollers-03.jpg" alt="">
											</div>
											
										</figure>
									</li>
								</ul>    
								<ul class="carousel__thumbnails">
									<li>
										<label for="slide-1"><img src="/public/img/news/hippo-rollers-01.jpg" alt=""></label>
									</li>
									<li>
										<label for="slide-2"><img src="/public/img/news/hippo-rollers-02.jpg" alt=""></label>
									</li>
									<li>
										<label for="slide-3"><img src="/public/img/news/hippo-rollers-03.jpg" alt=""></label>
									</li>
									<li>Proyecto Agua Hippo Rollers</li>
								</ul>
							</div>
						</div>
					</section>
			  <!-- fin carrousel -->
			  <br><br>
	<span class="blue-light">Este proyectro contribuye al logro del Objetivo de Desarrollo Sostenible (ODS) N° 6: “Garantizar la disponibilidad de agua y su gestión sostenible y el saneamiento para todos”.</span>
	
	<iframe class="video" src="https://www.youtube.com/embed/mwApt-3gXls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<div class="link-destacado">
		<span class="link">Mas Información</span> <nav><a href="http://www.carlosmorgado.org/pt/iniciativas/outros/hippo-rollers-em-mangundze/" onclick=window.open(href); class="link"> http://www.carlosmorgado.org/pt/iniciativas/outros/hippo-rollers-em-mangundze/</a></nav>
	</div>
		<br><br>
</section>

