<div id="sub">
<div id="submenu">
	<nav>
		<a href="/nosotros">Quienes Somos</a> |
		<a href="/historia">Nuestra Historia</a> |
		<a href="/que-hacemos">Que Hacemos</a>  |
		<a href="/ubicacion" class="click">Ubicación</a>  |
		<a href="/asociacion-myikani-mavoko">Asoc. Nyikani Mavoko</a>  |
	  </nav>
</div>
</div>
<div id="top">
	<div id="nosotros" class="proyecto-top">
	</div>
  </div>
		<section id="nosotros">
			<div class="pl-20 animate__animated animate__fadeInUp animate__delay-0s">
				<br><br>
			  <span class="blue-light">Donde Estamos</span>
			  <br><br>
				<p>La Misión Mangundze está situada en los distritos de Manjacaze y Chongoene, en la diócesis de Xai-Xai, Provincia de Gaza, República de Mozambique. El distrito de Manjacaze, donde se ubica la Misión, tiene una superficie de 3748 km² y una población censada en 2007 de 168.969 habitantes.
			  </p>
			  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d810.6896188773248!2d33.871554!3d-24.86988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ee05971cce6928b%253A0x1a6084b6bdfe3e2e!2sMision%20Mangunze!5e1!3m2!1ses!2sar!4v1586375050638!5m2!1ses!2sar" width="100%" height="900" frameborder="0" loading="lazy" allowfullscreen></iframe>
			</div>
		  
		  </section>